.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  

  .fixed-chatlist {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    /* overflow-y: hidden;  */
    transition: padding-top 0.3s;
  }
  
.scrollable-msgdiv {
    margin-left: 400px; 
    width: 80%;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
  